.card-game {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    background-color: var(--color-blue);
    border: 2px solid var(--color-white);
    cursor: pointer;
}

.card-game img {
    width: 110px;
    height: 140px;
    object-fit: cover;
}