html,
body {
    font-size: 14px;
}

body {
    background-color: var(--color-pomb-and-power);
    font-family: 'Press Start 2P', cursive;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}